<h1>Welcome to the best Hollywood page of all times!</h1>
<p>Start browsing:</p>

<ul>
    <li><a href="/celebrities">See all the celebrities</a></li>
    <li><a href="/movies">See all the movies</a></li>
</ul>